<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="menu.pakar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/droid7"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:persistent="false">
        <activity android:name="SplashScreenActivity" android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                
            </intent-filter>
        </activity>
        <activity android:name="MainMenuActivity"></activity>
        <activity android:name="GangguanActivity"></activity>
        <activity android:name="GejalaActivity"></activity>
        <activity android:name="MenuPakarActivity"></activity>
        <activity android:name="TambahGangguanActivity"></activity>
        <activity android:name="DiagnosisActivity"></activity>
        <activity android:name="HasilActivity"></activity>
        <activity android:name="TableAdminActivity"></activity>
        <activity android:name="TableGangguanActivity"></activity>
        <activity android:name="TableGejalaActivity"></activity>
        <activity android:name="TableRuleActivity"></activity>
        <activity android:name="AboutActivity"></activity>
        <activity android:name="InformationActivity"></activity>
        <activity android:name="GangguanTambahActivity"></activity>
        <activity android:name="GejalaTambahActivity"></activity>
        <activity android:name="GangguanEditActivity"></activity>
        <activity android:name="GejalaEditActivity"></activity>
        <activity android:name="RuleTambahActivity"></activity>
        <activity android:name="GantiPassActivity"></activity>
        <activity android:name="LoginActivity"></activity>
        <activity android:name="AppDiagnosaActivity"></activity>
    </application>

</manifest>
